<div class="content">
  <div fxLayout='row' fxLayoutWrap>
    <div fxFlex>
      <div class="main-image"></div>
    </div>
  </div>

  <div fxLayout='row' class="content-text">
    <div fxFlex class="heading">
      Vielen Dank für deine Teilnahme!
    </div>
    <div fxFlex>
      Wir werden deine Information verwenden um den bisherige Spendeprozess zu verbessern.
    </div>
    <div fxFlex>
      Wenn du in der Zwischenzeit spenden willst, kannst du dies unter
      <a target='_blank' href="http://cleanriverproject.de/">cleanriverproject.de</a>
      <span> tun.</span>
    </div>
  </div> 
  
  <!-- <div fxLayout='row' class="content-text">
    <div fxFlex class="subheading">
      Wenn du JETZT mit deiner Spende ({{ amount }}€) Clean River Project unterstützen willst kannst du das gerne tun.
    </div>
    <div class="link-section-margin">
      <div fxFlex>
          Hier der Link zu PayPal:
        </div>
        <div fxFlex>
          <a target='_blank' href="{{ paypalLink }}">{{ paypalLink }}</a>
        </div>
    </div>
    <div fxFlex>
      Dies ist ein Spendenaufruf im Rahmen der 5DC von etventure. Am Ende des Tages gehen alle Spendeneinnahmen zu 100% an Clean River Project e.V.
    </div>
  </div> -->
</div>
