.content {
  text-align: center;
  padding: 0 150px;
  padding-bottom: 200px;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
}

.heading {
  font-weight: 600;
  font-size: 36px;
}

.subheading {
  font-size: 24px;
  padding-top: 42px;
}

.wrapper {
  margin: 15px;
  padding-top: 28px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 12px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 0 18px;
}

.main-image {
  background-image: url("/assets/images/CRP_main.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}

.content-text {
  color: #1C6E86;
  div {
    padding-bottom: 12px;
  }
}

.button {
  background-color: #1C6E86;
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}

a {
  color: #1C6E86;
  font-weight: bold;
}

.link-section-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .main-image {
    height: 350px;
  }
  .content {
    padding: 0;
  }
}

@media screen and (max-width: 812px) {
  .main-image {
    height: 250px;
  }
  .content {
    padding: 0;
  }
}

@media screen and (max-width: 414px) {
  .content {
    padding: 0;
  }

  .main-image {
    height: 250px;
  }
}